APPS=../www
DOCKER_HOST_IP=10.0.0.1
DATA_SAVE_PATH=~/.devimages/data

# WORKSPACE

WORKSPACE_SSH_PORT=2222
WORKSPACE_TIMEZONE=UTC

# POSTGRESQL

POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

# MYSQL

MYSQL_VERSION=latest
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

# AWS

SSH_KEYS=/root/.ssh